<header class="bg-info">
  <div class='container d-flex align-items-center justify-content-center' style="height: 4.3rem">
    <div class="d-flex w-100">
      <ul class="d-flex w-75 nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-lg-start mb-md-0 gap-3">
        <li><%= link_to 'RomBnB', root_path, class: 'display-6 fw-bold text-white text-decoration-none' %></li>
      </ul>
      <ul class="d-flex w-25 nav col-12 col-lg-auto me-lg-auto mb-2 align-items-center justify-content-center mb-md-0 gap-3">
        <li><%= link_to 'Sign Up', new_user_registration_path, class: 'h4 text-color text-decoration-none' %></li>
      </ul>
    </div>
  </div>
</header>
