<h1>Searching Result</h1>
<% if @search.search_hotels.empty? %>
  <p>Results Not Found</p>
<% else %>
  <% if @search.min_price? || @search.max_price? || @search.capacity? %>
    <% @search.search_hotels.each do |search|%>
      <%= render 'room_hotel', s: search %>
    <% end %>
  <% else %>
    <% @search.search_hotels.each do |search|%>
      <%= render 'hotel', s: search  %>
    <% end %>
  <% end %>
<% end %>
