/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .text-color{
    color: white;
 }
 .text-color:hover{
    color: rgb(255, 243, 190);
 }
 .hehe .hehe-link{
    box-shadow: inset 0 0 0 1px none;
    border-radius: 0.5rem;
    padding: 0.6rem;
    color: #fff;
    text-decoration: none;
}

 .hehe .hehe-link:hover{
    box-shadow: inset 0 0 0 1px rgb(255, 243, 190);
}

.small-middle-container{
	margin: 5rem auto;
	width: 40%;
}
.small-middle-container_up{
   margin: auto;
	width: 40%;
}

.container-border{
   border: 1px solid rgb(255, 243, 190);
   border-radius: 10px;
   padding: 1rem;
}
