.text-color {
    color: white;
 }
 
 .text-color:hover {
    color: rgb(255, 243, 190);
 }
 
 .own-drop .own-drop-link {
    box-shadow: inset 0 0 0 1px none;
    border-radius: 0.5rem;
    padding: 0.6rem;
    color: #fff;
    text-decoration: none;
 }
 
 .own-drop .own-drop-link:hover {
    box-shadow: inset 0 0 0 1px rgb(255, 243, 190);
 }
 